<h1>Editing candy</h1>
<div style="width: 450px; margin-bottom: 25px;">Note: The "alias" column is title, subtitle, and description combined. This value is set automatically when the candy is saved.</div>
<%= render 'form' %>

<%= link_to 'Show', @candy %> |
<%= link_to 'Back', candy_path %>
