<!DOCTYPE html>
<html>
<head>
<%= stylesheet_link_tag "mobile" %>
<meta name="HandheldFriendly" content="true" />
<meta name="viewport" content="width=device-width, height=device-height, user-scalable=no" />
</head>
<body>
<div class="pink">
  Featured Candy:
  <div style="font-size: 20px; font-weight: bold;">Snickers Peanut Butter Squared</div>
</div>

</body>
</html>
